.container{
    width:100%;
    height:520px;
    margin:auto;
    background-color:#e7f3ef;
    text-align:center;
}
.header{
   padding-bottom: 5px;
   background-color: #19183B;
   text-align: right;

}
.header .judul{
    font-size:40px;
    font-weight:bold;
}
.header ul li {
    display: inline-block;
    margin-top:20px;
    margin-right:40px;
    font-weight:bold;
}
.header a{
    text-decoration: none;
    color:#E7F2EF;
}
.header a:hover{
    background-color: darkgray;
    color:white;
}
h3{
    text-align:center;
    color:#19183B;
}

.footer{
    background-color:#19183B;
    color:#E7F2EF;
    text-align:center;
    font-size:small;
}


input, button{
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

#hasil{
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}
