.container{
    width:100%;
    height:650px;
    margin:auto;
    background-color:#e7f3ef;
    text-align:center;
}
#navbar{
    text-align : right;
    background-color:#19183B;
    height: 30px;
    padding-top: 10px;

}
#navbar a{
    color: #e7f2ef;
    text-decoration: none;
    font-weight: 700;
    padding-right: 30px;
    text-align: center;
}
#navbar a:hover{
    background-color: darkgray;
    color:white;
}
.about{
    text-align: justify;
    margin: 50px 100px;
}
h2{
    text-align: center;
}

input, button, select{
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

button{
    background-color: #708993;
    color: #19183B;
    font-weight: 700;
}

#hasil{
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}
.footer{
    background-color:#19183B;
    color:#E7F2EF;
    text-align:center;
    font-size:small;
}